:root {
  --menu-width: 30rem;
  --menu-button-option-width: 3rem;
  --menu-button-option-height: 3rem;
  --z-index-error: 5;
  --z-index-menu: 4;
  --z-index-aside-shown: 3;
  --z-index-view-options-shown: 2;
  --z-index-view-options: 1;
  --sidebar-icon-width: 2rem;
  --sidebar-icon-height: 2rem;
}

html {
  font-size: 35%;
}

/* GENERAL */

.content {
  display: grid;
  grid-template-columns: 25rem minmax(30rem, 1fr);
  grid-template-rows: 5rem 1fr;
  position: relative;
}

input, textarea {
  padding: 0 0.5rem;
}

input {
  min-height: 3rem;
}

textarea {
  min-height: 5rem;
}

/* header */

.content header {
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  align-content: center;
  grid-template-columns: 3rem 15rem 1fr 3rem;
  padding: 0 1rem;
}

header .sidebar-icon {
  visibility: hidden;
}

header .heading {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 3rem 1fr;
  justify-items: start;
  align-items: center;
  padding-left: 2rem;
}

.heading .logo {
  justify-self: start;
}

.heading h1 {
  padding-left: 0.5rem;
  justify-self: start;
}

header button {
  width: var(--menu-button-option-width);
  height: var(--menu-button-option-height);
  justify-self: center;
  align-self: center;
}

header .empty {
  grid-area: 1 / 3 / 2 / 4;
}

header .options {
  grid-area: 1 / 4 / 2 / 5;
}

header .aside-icon {
  grid-area: 1 / 1 / 2 / 2;
  justify-items: center;
  align-items: center;
}

/* Sidebar */

.content aside {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 20rem 1fr 3rem;
  row-gap: 2rem;
  padding: 2rem 2.5rem;
}

.content aside * {
  font-size: 1.3rem;
}

.bar-footer a {
  text-decoration: none;
}

.bar-types {
  display: grid;
  justify-items: stretch;
  gap: 1rem;
}

.bar-types > * {
  display: grid;
  grid-template-columns: 2rem 1fr;
  justify-items: start;
  align-items: center;
  gap: 0.3rem;
  padding: 0 1rem;
}

.bar-types img {
  width: var(--sidebar-icon-width);
  height: var(--sidebar-icon-height);
}

.bar-projects {
  display: grid;
  grid-template-rows: 4.75rem 1fr;
  gap: 1rem;
  padding: 1rem;
  padding-top: 0.5rem;
}

.bar-projects > * {
  display: grid;
  justify-items: start;
  gap: 0.5rem;
}

.bar-projects img,
.bar-projects button {
  width: var(--sidebar-icon-width);
  height: var(--sidebar-icon-height);
}

.bar-projects .header {
  display: grid;
  grid-template-columns: 2rem max-content max-content 1fr 2rem;
  align-content: center;
  justify-items: start;
}

/* Project */

.projects-list {
  display: grid;
  grid-auto-rows: max(3rem, 1fr);
  justify-items: stretch;
  align-items: start;
  gap: 1rem;
}

.bar-projects {
  min-height: 22rem;
}

.bar-projects .project {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem 2rem;
  align-items: center;
  justify-items: stretch;
  padding: 0.5rem;
}

.bar-projects .project span {
  margin-left: 0.5rem;
  overflow-x: hidden;
} 

.bar-projects .project > img,
.bar-projects .project > button {
  align-self: start;
} 

.projects-nav {
  display: grid;
  grid-template-columns: 1fr 6rem 1fr;
  align-items: center;
  justify-items: center;
}

.bar-footer {
  display: grid;
  justify-items: center;
  place-content: center;
  padding: 1rem;
}

/* View options */

.view-options-bar {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 30rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr) 7.5rem;
  gap: 1rem;
  padding: 1.5rem;
  z-index: var(--z-index-view-options);
  visibility: hidden;
}

.view-options-bar > div {
  display: grid;
  align-items: center;
  padding: 0.5rem 1rem;
}

.view-options-bar > div > .priority-border-box,
.view-options-bar > div > .status-border-box {
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem 0 0 0;
}


.view-options-bar > div > .priority-header,
.view-options-bar > div > .status-header,
.view-options-bar > div > .sort-header {
  padding: 0;
  padding-left: 1rem;
}

.status-border-box > *,
.priority-border-box > * {
  display: grid;
  grid-template-columns: 2rem 9rem;
  gap: 1rem;
  justify-self: center;
  justify-items: stretch;
  padding: 0.5rem 0 0.5rem 1rem;
}

.status-border-box label,
.priority-border-box label {
  align-self: center;
  justify-self: center;
}

.view-options-bar input {
  display: none;
}

.view-options-bar .option-button > .radio-button {
  max-width: var(--sidebar-icon-width);
  max-height: var(--sidebar-icon-height);    
  padding: 0.3rem;
}

.view-options-bar .sort-options-main-box input {
  display: none;
}

.view-options-bar.shown {
  visibility: visible;
  z-index: var(--z-index-view-options-shown);
}

.view-options-bar .sort-options-main-box {
  display: grid;
  grid-template-rows: 3rem 3rem;
}

.view-options-bar .sort-options-border-box {
  display: grid;
  grid-template-columns: 1fr var(--sidebar-icon-width);
  gap: 1rem;
}

.sort-options-border-box .sort-arrow {
  height: var(--sidebar-icon-height);
  width: var(--sidebar-icon-width);
  align-self: center;
}

/* Main */

.content main {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-rows: auto auto 1fr 3rem;
  padding: 1rem clamp(2rem, 4rem, 5rem);
  gap: 1rem;
  position: relative;
}

main .header {
  padding: 0 2rem;
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 5rem auto;
}

main .header img {
  height: 5rem;
  align-self: start;
}

main .header h2 {
  overflow-x: hidden;
  overflow-y: visible;
  overflow-wrap: break-word;
}

main .task-bar {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr var(--menu-button-option-width);
  max-height: var(--menu-button-option-height);
  justify-content: space-between;
  gap: 0.75rem;
}

.task-bar > * {
  padding: 0.5rem;
}

.task-bar .task-number {
  display: grid;
  justify-items: start;
  grid-template-columns: max-content max-content;
  padding-left: 1rem;
  gap: 0.5rem;
}

.task-bar span {
  align-self: center;
  justify-self: start;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Task component */

.task {
  display: grid;
}

.task .task-head-box {
  display: grid;
  grid-template-columns: var(--sidebar-icon-width) 1fr var(--sidebar-icon-width) 10rem repeat(3, var(--sidebar-icon-width));
  column-gap: 0.5rem;
  justify-items: stretch;
  padding: 1rem;
}

.task button {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.task .overdue {
  display: none;
}

.task .overdue.shown {
  display: block;
}

.task button {
  height: var(--sidebar-icon-height);
}

.task > * {
  display: grid;
  align-content: center;
  align-self: start;
}

.task .status {
  display: none;
}

.task label.status-checkbox {
  display: inline-block;
  width: var(--sidebar-icon-width);
  height: var(--sidebar-icon-height);
  position: relative;
  overflow: hidden;
  margin: 0;
  justify-self: center;
}

.task label.status-checkbox svg {
  width: 100%;
  height: 100%;
}

.task-bar .add-new {
  padding: 0;
  width: var(--menu-button-option-width);
  height: var(--menu-button-option-height);
  display: none;
}

.task-bar .add-new.shown {
  display: block;
}

.task .task-title {
  padding-left: 1rem;
  
}

.task .task-title,
.task .task-due-date > span,
.task .task-project-name,
.task .task-priority-text,
.task .task-description,
.task .task-notes {
  overflow-x: hidden;
}

.task .task-due-date {
  display: flex;
  justify-content: center;
}

.task-unfold-box {
  grid-area: 2 / 1 / 3 / -1;
  display: none;
  padding: 1rem;
}

.task-unfold-box > * {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0.5rem;
  padding: 1rem;
  align-items: start;
}

.task-unfold-box.shown {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 1rem;
}

/* Page menu */

.page-menu {
  justify-self: center;
  grid-row-gap: 0;
  display: grid;
  grid-template-columns: 3rem 6rem 3rem;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
}

.page-menu button {
  width: var(--menu-button-option-width);
  height: var(--menu-button-option-height);
}

main .sidebar-cover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Remove confirmation menu */

.remove-menu {
  position: absolute;
  margin-top: 15rem;
  margin-left: calc((100% - var(--menu-width))/2);
  margin-right: calc((100% - var(--menu-width))/2);
  width: var(--menu-width);
  z-index: var(--z-index-menu);
  padding: 0 0 1rem 0;
  display: grid;
  gap: 2rem;
  visibility: hidden;
}

.remove-menu.shown {
  visibility: visible;
}

.remove-menu .title {
  display: grid;
  grid-template-columns: 1fr var(--menu-button-option-width);
  align-items: center;
  padding: 1rem;
}

.remove-menu .title .exit {
  height: var(--menu-button-option-height);
  align-self: start;
}

.remove-menu .remove-message {
  padding: 0 2rem;
}

.remove-menu .button-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: var(--menu-button-option-height);
  padding: 0 2rem;
  justify-items: stretch;
  gap: 2rem;
}

/* Error modal */

.error-modal {
  position: absolute;
  margin-top: 15rem;
  margin-left: calc((100% - var(--menu-width))/2);
  margin-right: calc((100% - var(--menu-width))/2);
  width: var(--menu-width);
  z-index: var(--z-index-error);
  padding: 0 0 2rem 0;
  visibility: hidden;
  display: grid;
}

.error-modal.shown {
  grid-template-rows: 5rem 1fr;
  gap: 2rem;
}

.error-modal .title {
  display: grid;
  grid-template-columns: 1fr var(--menu-button-option-width);
  padding: 0 1rem;
  align-items: center;
  align-content: center;
}

.error-modal .exit {
  height: var(--menu-button-option-height);
  align-self: start;
}

.error-modal .error-message {
  padding: 0 2rem;
}
.error-modal .error-process {
  padding: 0 2rem;
}

.error-modal .button-box {
  padding: 0 2rem;
  display: grid;
  justify-items: stretch;
}

.error-modal .exit-ok {
  height: var(--menu-button-option-height);
  align-self: center;
}

.error-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-error);
  display: none;
}

.error-cover.shown {
  display: block;
}

/* Project menu */

.project-menu {
  position: absolute;
  margin-top: 15rem;
  margin-left: calc((100% - var(--menu-width))/2);
  margin-right: calc((100% - var(--menu-width))/2);
  width: var(--menu-width);
  z-index: var(--z-index-menu);
  padding: 0 0 2rem 0;
  visibility: hidden;
  display: grid;
  grid-template-rows: 5rem 1fr;
  gap: 1rem;
}

.project-menu.shown {
  visibility: visible;
}

.project-menu .title {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr 3rem;
  align-items: center;
  align-content: center;
  padding: 0 1rem;
}

.project-menu .title .exit {
  grid-area: 1 / 2 / 2 / 3;
  align-self: start;
  justify-self: center;
  width: var(--menu-button-option-width);
  height: var(--menu-button-option-height);
  border-style: none;
}

.project-menu form {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  align-items: start;
  gap: 3rem;
  padding: 0 2rem;
}

.project-menu form > .title-box {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
}

.project-menu #project-name {
  height: var(--menu-button-option-height);
}

.project-menu form > fieldset {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 2rem 1fr;
}

.project-menu form > fieldset > .project-options {
  display: flex;
  justify-content: space-evenly;
  height: var(--menu-button-option-height);
}

.project-menu fieldset .project-icon-option {
  display: inline-block;
  width: var(--menu-button-option-width);
}

.project-icon-option label,
.project-icon-option input {
  display: none;
}

.project-menu form .button-box {
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0 0 0;
  gap: 2rem;
}

.project-menu .button-box > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--menu-button-option-height);
}


/* Menus' cover */

.menu-cover {
  position: absolute;
  width: 100%;
  height: 120%;
  z-index: var(--z-index-menu);
  display: none;
}

/* Task menu */

.task-menu {
  position: absolute;
  margin-top: 5rem;
  margin-left: calc((100% - var(--menu-width))/2);
  margin-right: calc((100% - var(--menu-width))/2);
  width: var(--menu-width);
  background-color: var(--white);
  z-index: var(--z-index-menu);
  display: grid;
  grid-template-rows: 5rem 1fr;
  padding: 0 0 2rem 0;
  gap: 1rem;
  visibility: hidden;
}

.task-menu.shown {
  visibility: visible;
}

.task-menu > .title {
  padding: 0 1rem;
}

.task-menu > form {
  padding: 0 2rem;
}

.task-menu .title {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr var(--menu-button-option-width);
  align-content: center;
}

.task-menu .title .title-text {
  align-self: center;
}

.task-menu .title .exit {
  align-self: start;
  width: var(--menu-button-option-width);
  height: var(--menu-button-option-height);
}

.task-menu form {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  align-items: start;
  gap: 3rem;
}

.task-menu form > div {
  display: grid;
  align-items: center;
}

.task-menu form .title-box,
.task-menu form .due-date-box {
  grid-template-rows: 2rem 3rem;
}

.task-menu fieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.task-menu fieldset div {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 0.5rem;
  align-items: center;
}

.task-menu input[type="radio"] {
  padding: 0;
  width: var(--sidebar-icon-width);
  height: var(--sidebar-icon-height);
  min-height: 2rem;
}

.task-menu textarea {
  resize: none;
}

.task-menu .button-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.task-menu .button-box > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--menu-button-option-height);
}

@media screen and (min-width: 600px) {
  html {
    font-size: 45%;
  }
 }

@media screen and (min-width: 1025px) {
  html {
    font-size: 55%;
  }
 }
@media screen and (min-width:1281px) { 
  html {
    font-size: 62.5%;
  }
 }

 @media screen and (min-width: 1440px) {
  html {
    font-size: 70%;
  }
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 115%;
  }
}

@media screen and (max-width: 400px) {
 .content main {
  padding: 1rem;
 }
}

@media screen and (max-width: 800px) {
  .content {
    grid-template-columns: 1fr;
    position: relative;
  }
  .content main {
    grid-area: 2 / 1 / 3 / 3;
  }
  .content aside {
    visibility: hidden;
  }
  .content aside.shown {
    visibility: visible;
    max-width: 25rem;
    z-index: var(--z-index-aside-shown);
  }
  header .sidebar-icon {
    visibility: visible;
  }
  main .sidebar-cover.shown {
    display: block;
  }
}